logs/
__pycache__/
.vscode/
_build/

.ci-keep/

# Override global gitignore for dotfiles that must be tracked
!.github/
!.cog.toml

# Bazel-specific ignores
bazel-*
.bazelrc.user

*.swp
*.swo

MODULE.bazel.lock
